extends layout

block content

	.parallax-container#index-banner
		.section.no-pad-bot
			.container
				.center
					img#logosRegistro(src="/images/Pase-logoB.png", alt="")
					h6.header.col.s12.black-text Una Forma Moderna de Tomar Asistenacia
				.row.center
					.card
						.card-content
							span.card-title.black-text Grupo: #{maestro.clase}
							table.black-text.responsive-table
								thead
									tr
										th.light(data-field="Nombre") Nombre
										th.light(data-field="Asistencias") Asistencias
										th.light(data-field="Retardos") Retardos
										th.light(data-field="Faltas") Faltas
								tbody
									each x in alumnos
										tr
											td= x.nombre
											td= x.check
											td 0
											td 0
							.card-action
								a.white-text.btn.waves-effect.waves-light(href="/reporte/#{maestro.email}") Descargar Reporte
		.parallax
			img(src="/images/person-apple-laptop-notebook.jpg", alt="Unsplashed background img 1")

	include scripts