extends layout

block content

	.parallax-container#index-banner
		.section.no-pad-bot
			.container
				br
				.row.center
					img#logos(src="/images/Pase-logoB.png", alt="")
				.row.center
					h5.header.col.s12.black-text Una Forma Moderna de Tomar Asistenacia
					hr
					.col.s4
						a.btn-large.waves-effect.waves-light.teal.lighten-1#download-button(href="/registro") Pre-Registro
					.col.s4
						a.btn-large.waves-effect.waves-light.teal.lighten-1#download-button(href="/registroAlumno/villak@hotmail.es") Demo-RegistroAlumno
					.col.s4
						a.btn-large.waves-effect.waves-light.teal.lighten-1#download-button(href="/dashboard/villak@hotmail.es") Demo-Panel
				.row.center
				br
		.parallax
			img(src="/images/person-apple-laptop-notebook.jpg", alt="Unsplashed background img 1")

	include scripts