doctype html
html
  head
    title Pase De Lista
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    //CSS
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/materialize.css',media="screen,projection")
    link(rel='stylesheet', href='/stylesheets/style.css',media="screen,projection")
  body
    block content