extends layout

block content

	.parallax-container#index-banner
		.section.no-pad-bot
			.container
				.row.center
					img#logosRegistro(src="/images/Pase-logoB.png", alt="")
					h5.header.col.s12.black-text Una Forma Moderna de Tomar Asistenacia
				.row.center
					.card.col.offset-m3.s12.m6
						form(action="/registro",method='post')
							.card-content.black-text
								span.card-title.black-text Registro de Maestro
								.col.s12
									.row
										.input-field.col.s12
											i.material-icons.prefix account_circle
											input#icon_prefix.validate(type="text",name="name", required="required")
											label(for="icon_prefix") Nombre
										.input-field.col.s12
											i.material-icons.prefix email
											input#icon_prefix2.validate(type="email",name="email", required="required")
											label(for="icon_prefix2") E-Mail
										.input-field.col.s12
											i.material-icons.prefix settings_ethernet
											input#icon_prefix3.validate(type="password",name="pw", required="required")
											label(for="icon_prefix3") Password
										.input-field.col.s12
											i.material-icons.prefix turned_in_not
											input#icon_prefix4.validate(type="text",name="clase", required="required")
											label(for="icon_prefix4") Nombre de Clase
							.card-actio
								.col.s3.offset-m3
									button.btn.waves-effect.waves-light(type="submit",name="action") Enviar
								.col.s3.offset-m1
									a.btn.waves-effect.waves-light(href="http://pasedelista.com.mx/") Cancelar
								.row

				br
		.parallax
			img(src="/images/person-apple-laptop-notebook.jpg", alt="Unsplashed background img 1")

	include scripts