extends layout

block content

	.parallax-container#index-banner
		.section.no-pad-bot
			.container
				.row.center
					img#logosRegistro(src="/images/Pase-logoB.png", alt="")
					h5.header.col.s12.black-text Una Forma Moderna de Tomar Asistenacia
				.row.center
					.card.col.offset-m3.s12.m6
						form(action="/registroAlumno/#{maestro.email}",method='post')
							.card-content.black-text
								span.card-title.black-text Registro de Alumno
								.col.s12
									.row
										.input-field.col.s6
											label Maestro: #{maestro.nombre}
										.input-field.col.s6
											label Clase: #{maestro.clase}
									.row
										.input-field.col.s12
											i.material-icons.prefix account_circle
											input#icon_prefix.validate(type="text",name="name", required="required")
											label(for="icon_prefix") Nombre
										.input-field.col.s12
											i.material-icons.prefix phone
											input#icon_prefix2.validate(type="tel",name="phone", required="required")
											label(for="icon_prefix2") Telefono
										
							.card-actio
								.col.s3.offset-m3
									button.btn.waves-effect.waves-light(type="submit",name="action") Enviar
								.col.s3.offset-m1
									a.btn.waves-effect.waves-light(href="http://pasedelista.com.mx/") Cancelar
								.row

				br
		.parallax
			img(src="/images/person-apple-laptop-notebook.jpg", alt="Unsplashed background img 1")

	include scripts